# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Arquivos em cache
**/__pycache__/
/migrations/__pycache__/
/projeto/__pycache__/
/projeto/models/__pycache__/
/projeto/views/__pycache__/