.container_agendamento {

    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 100px;
    margin-top: 7%;
    margin-bottom: 3%;
}

h1, h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.historico_consulta{
    color: #f9f9f9;
    top: 7px;
    position: relative;
    
}

.historico_consulta:hover{
    color: #fff;
}

.div_historico{
    background-color: #4CAF50;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-left: 60vw;
    margin-top: -40px;

}

.div_historico:hover{
    background-color: #45a049;
}

/*pagina para selecionar o tipo de agendamento */


.h2_atendeimento{
    color: #333;
    position: relative;
    margin-top: 9vw;
    margin-left: 35vw;
}

.selecionar_tipo_consulta{
    margin-top: 2vw;
    display: flex;
    margin-left: 33vw;
    position: relative;
    

}



.a_condominios{
    
    width: 200px;
    height: 200px;
    display: block;
    margin-bottom: 10;
    background-color: #4CAF50;
    color: #fff;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
}

.a_condominios:hover{

    background-color: #45a049;
    color: #f2f2f2;
    place-items: center;
}

.h3_agendamentos{
    position: relative;
    margin-top: 75px;

}

.input_agendar{
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-left: 1vw;
    margin-top: -40px;
    border: none;
    cursor: pointer;

}

.input_agendar:hover{
    background-color: #45a049;
    color: #f2f2f2;
}