{% extends "template.html" %}
{%block conteudo_body %}

<main>
    <div class="conteiner_inscrever">
        <form class="form_inscrever" id="login" action="{{ url_for('autenticar') }}" method="post">
            <label for="email">Email:</label><br>
            <input class="email-input" type="email" id="email" name="username" placeholder="exemplo@gmail.com"><br><br>

            <label for="senha">Senha:</label><br>
            <input class="email-input" type="password" id="senha" name="password" placeholder="Senha"><br><br>

            <input class="btn_cadastrar" type="submit" value="Login"><br><br>
            <a href="{{ url_for('inscrever') }}" class="cadastrar">Cadastre-se</a>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled__login">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</main>

{% endblock %}
