{% extends "template.html" %}
{%block conteudo_body  %}

<div class="container_agendamento">

    
    <h2>Médicos</h2>
    <table id="historico-consultas">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>CRM</th>
                <th>Especialidade</th>
                <th>Sexo</th>
                <th>Unidade</th>
            </tr>
        </thead>
        <tbody class="tb_medicos">
            <th>Wilker Gandra</th>
                <th>(31) 991549624</th>
                <th>wilkerbruno@gmail.com</th>
                <th>12345</th>
                <th>Clinico Geral</th>
                <th>Masculino</th>
                <th>Una Contagem</th>
            <!-- Histórico de consultas será inserido aqui -->
        </tbody>
    </table>
</div>

<script src="../static/js/agendamento.js"></script>

{% endblock %}