{% extends "template.html" %}
{%block conteudo  %}
<main>
    <h2>Últimas Notícias</h2>
    <article class="article">
        <img class="img_noticias" src="{{ url_for('static', filename='img/vacina-contra-hpv.jpg' )}}" />
        <div class="txt_noticias">
        <h3 >vacinascontra hpv</h3>
        <p >Ministerio da saude anuncia vacinas em dose unica contra hpv, veja como se instreves</p>
        <a href="#">Leia Mais</a>
    </div>
    </article>
    <article class="article">
        <img class="img_noticias" src="{{ url_for('static', filename='img/covid.jpg' )}}" />
        <div class="txt_noticias">
        <h3>vacinascontra hpv</h3>
        <p >Ministerio da saude anuncia vacinas em dose unica contra hpv, veja como se instreves</p>
        <a href="#">Leia Mais</a>
    </div>
    </article>
    <article class="article">
        <img class="img_noticias" src="{{ url_for('static', filename='img/gripe.jpg' )}}" />
        <div class="txt_noticias">
        <h3 >vacinascontra hpv</h3>
        <p >Ministerio da saude anuncia vacinas em dose unica contra hpv, veja como se instreves</p>
        <a  href="#">Leia Mais</a>
    </div>
    </article>
    <article class="article">
        <img class="img_noticias" src="{{ url_for('static', filename='img/hepatite.jpg' )}}" />
        <div class="txt_noticias">
        <h3 >vacinascontra hpv</h3>
        <p >Ministerio da saude anuncia vacinas em dose unica contra hpv, veja como se instreves</p>
        <a  href="#">Leia Mais</a>
    </div>
    </article>
    <article class="article">
        <img class="img_noticias" src="{{ url_for('static', filename='img/varicela.jpg' )}}" />
        <div class="txt_noticias">
        <h3 >vacinascontra hpv</h3>
        <p >Ministerio da saude anuncia vacinas em dose unica contra hpv, veja como se instreves</p>
        <a  href="#">Leia Mais</a>
    </div>
    </article>

    <h2 class="t_categorias">Categorias</h2>
    <ul class="Categorias">
        <li><a href="#">Vacina COVID-19</a></li>
        <li><a href="#">Vacina da Gripe</a></li>
        <li><a href="#">Vacina da Hepatite</a></li>
        <li><a href="#">Vacina da Varicela</a></li>
        <li><a href="#">Outras</a></li>
    </ul>

</main>
{% endblock %}