{% extends "template.html" %}
{%block conteudo_body %}

<main>
    <div class="quem_somos">
        <div class="testos_sobre">
            <h2>Quem somos nós?</h2>
            <p>Bem-vindo ao Vaccine News Daily,
                uma plataforma dedicada a fornecer informações confiáveis,
                atualizadas e acessíveis sobre vacinas e saúde preventiva.
                Nossa equipe é composta por profissionais apaixonados pela promoção da saúde pública e pela disseminação
                de
                conhecimento científico para o bem-estar de todos.
            </p>
        </div>
    </div>

    <img src="{{ url_for('static', filename='img/vacina-img.jpg' )}}" alt="" class="img_vacina">

    <div class="missao">
        <div class="testos_sobre">
            <h2>Nossa missão</h2>
            <p>Nosso compromisso é educar e capacitar indivíduos em todo o mundo a tomar decisões informadas sobre
                vacinas
                e cuidados de saúde preventiva. Acreditamos firmemente que o acesso a informações precisas
                e imparciais é essencial para combater a desinformação e promover a saúde pública.
            </p>
        </div>
    </div>

    <div class="juntar-se">
        <div class="testos_sobre">
            <h2>Junte-se a nós</h2>
            <p>Estamos felizes em receber todos aqueles que desejam aprender mais sobre vacinas
                e cuidados de saúde preventiva. Junte-se à nossa comunidade e faça parte do movimento
                para promover a saúde e o bem-estar para todos. Juntos, podemos fazer a diferença.
            </p>
        </div>
    </div>

    <div class="creditos">

        <h2>Créditos</h2>
        <div class="imagens">

            <div class="img">
                <a href="#"> <img id="imagem2" src="../static/img/covid.jpg" alt="Imagem 2"></a>
                <a class="nome" href="#" >Arthur Martins</a>
            </div>
            <div class="img">
                <a href="#"> <img id="imagem2" src="../static/img/covid.jpg" alt="Imagem 2"></a>
                <a class="nome" href="#">Davy Dutra</a>
            </div>
           
            <div class="img">
                <a href="#">  <img id="imagem3" src="../static/img/covid.jpg" alt="Imagem 3"></a>
                <a class="nome" href="#" >Douglas Ferreira</a>
            </div>
            <div class="img">
                <a href="#">  <img id="imagem4" src="../static/img/covid.jpg" alt="Imagem 4"></a>
                <a class="nome" href="#" >Mônica Alcântra</a>
            </div>
            <div class="img">
              <a href="#">  <img id="imagem5" src="../static/img/covid.jpg" alt="Imagem 5"></a>
                <a class="nome" href="#">Paulo Carvalho</a>
            </div>
            <div class="img">
              <a href="https://www.linkedin.com/in/zargos?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" >  
                <img id="imagem6" src="../static/img/zargos.jpg" alt="Imagem 6"  ></a>
                <a class="nome" href="https://www.linkedin.com/in/zargos?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">Rafael
                    Zargos</a>
            </div>
            <div class="img">
               <a href="https://www.linkedin.com/in/wilkerbruno/"> <img id="imagem7" src="../static/img/wilker.jpg" alt="Imagem 7" ></a>
                <a class="nome7" href="https://www.linkedin.com/in/wilkerbruno/">Wilker Gandra</a>
            </div>
        </div>
    </div>
</main>



{% endblock %}