{% extends "template.html" %}
{%block conteudo_body %}

<main>
    <div class="quem_somos">
        <div class="testos_sobre">
        <h2>Quem somos nós?</h2>
        <p>Bem-vindo ao Vaccine News Daily,
            uma plataforma dedicada a fornecer informações confiáveis,
            atualizadas e acessíveis sobre vacinas e saúde preventiva.
            Nossa equipe é composta por profissionais apaixonados pela promoção da saúde pública e pela disseminação de
            conhecimento científico para o bem-estar de todos.
        </p>
        </div>
    </div>

    <img src="{{ url_for('static', filename='img/vacina-img.jpg' )}}" alt="" class="img_vacina">

    <div class="missao">
        <div class="testos_sobre">
        <h2>Nossa missão</h2>
        <p>Nosso compromisso é educar e capacitar indivíduos em todo o mundo a tomar decisões informadas sobre vacinas
             e cuidados de saúde preventiva. Acreditamos firmemente que o acesso a informações precisas
              e imparciais é essencial para combater a desinformação e promover a saúde pública.
        </p>
    </div>
    </div>

    <div class="juntar-se">
        <div class="testos_sobre">
        <h2>Junte-se a nós</h2>
        <p>Estamos felizes em receber todos aqueles que desejam aprender mais sobre vacinas 
            e cuidados de saúde preventiva. Junte-se à nossa comunidade e faça parte do movimento
             para promover a saúde e o bem-estar para todos. Juntos, podemos fazer a diferença.
        </p>
        </div>
    </div>
</main>



{% endblock %}